.element {
    width: 100%;
}

@media screen and (max-width: 907px) {
    .element {
        max-width: 582px;
        margin: auto;
    }
}

@media screen and (max-width: 630px) {
    .element {
        max-width: 320px;
    }
}