.popup__save-button_disabled {
    background-color: white;
    border: 1px solid #000000;
    color: #000000;
    opacity: 0.2;
}

.popup__save-button_disabled:hover {
    pointer-events: none;
    cursor: default;
    opacity: 0.2;
}

@media screen and (max-width: 530px) {
    .popup__save-button_disabled {
        background-size: 238px 46px;
    }
}