.header__logo {
    background-image: url(../../../images/vectors/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 142px;
    height: 33px;
}

@media screen and (max-width: 907px) {
    .header__logo {
    margin-left: 27px;
    }
}

@media screen and (max-width: 740px) {
    .header__logo {
        width: 104px;
        height: 25px;
    }
}