.popup__close-button {
    position: absolute;
    top: -40px;
    right: -40px;
    background: url(../../../images/vectors/CloseButton.svg);
    width: 32px;
    height: 32px;
    background-size: contain;
    transition: opacity 0.1s linear;
}

.popup__close-button:hover {
    cursor: pointer;
    opacity: 60%;
}

@media screen and (max-width: 530px) {
    .popup__close-button {
        top: -36px;
        right: 0;
        width: 20px;
        height: 20px;
    }
}