.profile__name-edit-button {
    max-width: 345px;
    display: flex;
    align-items: baseline;
}

@media screen and (max-width: 740px) {  
    .profile__name-edit-button {
        max-width: 282px;
        max-height: 26px;
        padding-left: 28px;
        justify-content: center;
    }
}