.element__title {
    margin: 0;
    padding-left: 21px;
    max-width: 188px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000000;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.2;
}