.popup__error {
    visibility: hidden;
    opacity: 0;
    transition: visibility linear 0.4s, opacity linear 0.4s;
    max-height: 13px;
    max-width: 358px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    color: #FF0000;
}

@media screen and (max-width: 530px) {
    .popup__error {
        max-width: 238px;
    }
}