.popup__input {
    width: 358px;
    height: 27px;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding: 0;
    box-sizing: border-box;
    color: #000000;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
}

.popup__input:focus {
    outline: none;
}

@media screen and (max-width: 530px) {
    .popup__input {
        width: 238px;
        height: 27px;
    }
}