.element__delete-button {
    background-image: url(../../../images/vectors/Trash.svg);
    width: 18px;
    height: 19px;
    background-repeat: no-repeat;
    transition: opacity 0.1s linear;
    position: absolute;
    top: 20px;
    right: 20px;
}

.element__delete-button:hover {
    opacity: 50%;
    cursor: pointer;
}