.info__button {
    display: none;
}

@media screen and (max-width: 400px) {
    .info__button {
        background-image: url(../../../images/vectors/menu.svg);
        width: 24px;
        height: 24px;
        background-size: contain;
        background-repeat: no-repeat;
        display: block;
        margin-right: 30px;
    }
}